.form-entry {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  width: 100%;
}

.input-element {
  margin-left: 0.5em;
  /*width: 15em;*/
  width: 60%;
}

.text-align-center{

  text-align: center;
}

div.buttons {
  display: flex;
  justify-content: space-around;
}

.button-image {
  width: 1em;
  width: 1em;
}

.error{

  color:red;
  text-decoration: underline;
}

.success{

    color:green;
    text-decoration: underline;
 
}

button a img{
  
  width: 1em;
  height:1em;
  
}

.margin-top{
  
  margin-top: 1em;
  
}

